* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container {
    background: white;
    width: 420px;
    max-width: 90%;
    padding: 30px;
    border-radius: 20px;
    text-align: center;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    margin-bottom: 25px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

#cityInput {
    flex: 1;
    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 16px;
    outline: none;
}

#cityInput:focus {
    border-color: #2196f3;
}

button {
    padding: 12px 18px;

    background: #2196f3;
    color: white;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1976d2;
}

.weather-card {
    background: #f4f8fb;
    padding: 25px;
    border-radius: 15px;
}

.weather-card h2 {
    color: #333;
    margin-bottom: 15px;
}

.weather-card p {
    color: #555;
    margin: 10px 0;
    font-size: 16px;
}

.temperature {
    font-size: 40px;
    font-weight: bold;
    color: #2196f3;
    margin: 15px 0;
}

.error {
    color: red !important;
}